@model Kaizen.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

@*<h2>@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            @*<dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>*@
@*
    Phone Numbers can used as a second factor of verification in a two-factor authentication system.

     See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
        for details on setting up this ASP.NET application to support two-factor authentication using SMS.

     Uncomment the following block after you have set up two-factor authentication
*@
@*
    <dt>Phone Number:</dt>
    <dd>
        @(Model.PhoneNumber ?? "None")
        @if (Model.PhoneNumber != null)
        {
            <br />
            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
            }
        }
        else
        {
            <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
        }
    </dd>
*@
@*<dt>Two-Factor Authentication:</dt>
                <dd>
                    <p>
                        There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details on setting up this ASP.NET application to support two-factor authentication.
                    </p>
                    @if (Model.TwoFactor)
                        {
                            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Enabled
                                <input type="submit" value="Disable" class="btn btn-link" />
                                </text>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Disabled
                                <input type="submit" value="Enable" class="btn btn-link" />
                                </text>
                            }
                        }
                </dd>
        </dl>
    </div>*@


<header class="page-header">
    <h2>Kullanıcı Profili</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Yönet</span></li>
            <li><span>Kullanıcı Profili</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>

<!-- start: page -->

<div class="row">
    <div class="col-md-4 col-lg-3">

        <section class="panel">
            <div class="panel-body">

                <div class="thumb-info mb-md">
                    <img src="@(ViewBag.ProfilePhoto != null ? ("/Uploads/ProfilePhotos/" + ViewBag.ProfilePhoto) : "/AdminFiles/assets/images/empty_avatar.jpg")" id="thumb" class="rounded img-responsive profilePhoto" alt="Profil Fotoğrafı">
                    <div class="thumb-info-title" style="font-size: 12px; letter-spacing: 0;">
                        <span class="thumb-info-inner">@ViewBag.CurrentUser</span>
                        <span class="thumb-info-type">@ViewBag.Position</span>
                    </div>
                </div>
                <form id="imgForm" method="post" action="" enctype="multipart/form-data">
                    <div>
                        <input id="imgFile" type="file" name="file" />
                        <button id="btnUpload" type="submit" class="btn btn-primary btn-xs">Kaydet</button>
                    </div>
                </form>

                <hr class="dotted short">

                <h6 class="text-muted">@ViewBag.Company</h6>
                @foreach (var item in ViewBag.Departments)
                {
                    <p>@item</p>
                }

            </div>
        </section>

        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">Son Öneriler</h2>
            </header>
            <div class="panel-body">
                <ul class="simple-post-list">

                    @foreach (var item in ViewBag.Suggestions)
                    {
                        <li>
                            <div class="post-info">
                                <a href="@Url.Action("Details", "Suggestion", new { id = item.Id})">@item.Subject</a>
                                <div class="post-meta">
                                    @item.UpdatedAt
                                </div>
                            </div>
                        </li>
                    }

                </ul>
            </div>
        </section>

    </div>
    <div class="col-md-8 col-lg-6">

        <div class="tabs">

            <ul class="nav nav-tabs tabs-primary">
                <li class="active">
                    <a href="#personal" data-toggle="tab">Kişisel Bilgiler</a>
                </li>
                <li>
                    <a href="#password" data-toggle="tab">Parola</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="personal" class="tab-pane active">

                    <form class="form-horizontal" id="personalForm" method="post">
                        <h4 class="mb-xlg">Kişisel Bilgileri Güncelle</h4>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="FirstName" style="text-align: left">Ad</label>
                                <div class="col-md-8">
                                    <input id="FirstName" type="text" class="form-control" name="FirstName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="LastName" style="text-align: left">Soyad</label>
                                <div class="col-md-8">
                                    <input id="LastName" type="text" class="form-control" name="LastName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="Position" style="text-align: left">Pozisyon</label>
                                <div class="col-md-8">
                                    <input id="Position" type="text" class="form-control" name="Position">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="UserName" style="text-align: left">Kullanıcı Adı</label>
                                <div class="col-md-8">
                                    <input id="UserName" type="text" class="form-control" name="UserName">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9 col-md-offset-3">
                                    <button id="btnPersonal" type="button" class="btn btn-primary">Kaydet</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div id="password" class="tab-pane fade">
                    @{Html.RenderPartial("_ChangePassword", new Kaizen.Web.Models.ChangePasswordViewModel());}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-3">

        <h4 class="mb-md">Sale Stats</h4>
        <ul class="simple-card-list mb-xlg">
            <li class="primary">
                <h3>488</h3>
                <p>Nullam quris ris.</p>
            </li>
            <li class="primary">
                <h3>$ 189,000.00</h3>
                <p>Nullam quris ris.</p>
            </li>
            <li class="primary">
                <h3>16</h3>
                <p>Nullam quris ris.</p>
            </li>
        </ul>
    </div>

</div>
<!-- end: page -->

@section scripts {

    <script>

        $(document).ready(function () {

            $('#btnPersonal').click((function (e) {
                e.preventDefault();
                var formData = new FormData();
                formData.append('FirstName', $('#FirstName').val());
                formData.append('LastName', $('#LastName').val());
                formData.append('Position', $('#Position').val());
                formData.append('UserName', $('#UserName').val());
                $.ajax({
                    url: '@Url.Action("UpdatePersonal", "Manage")',
                    method: 'POST',
                    cache: false,
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    data: formData ? formData : formData.serialize(),
                    success: function (response) {
                        if (response.message == null) {
                            alert('Kişisel bilgiler güncellendi.');
                        } else {
                            alert(response.message);
                        }
                    },
                });
            }));

            $('#imgForm').submit((function (e) {
                e.preventDefault();
                var imgData = new FormData();
                imgData.append('file', $('#imgFile')[0].files[0]);
                $.ajax({
                    url: '@Url.Action("UploadPhoto", "Manage")',
                    method: 'POST',
                    cache: false,
                    processData: false,
                    contentType: false,
                    data: imgData,
                    success: function (response) {
                        if (response.message == null) {
                            $('.profilePhoto').attr('src', response);
                        } else {
                            alert(response.message);
                        }
                    },
                });
            }));
        });

    </script>

}