@model IEnumerable<Kaizen.Web.Models.SuggestionViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.CurrentStatus)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.SuggestedStatus)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.Assessment)
        </th>
        <th class="col-md-2"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="col-md-1">
            @Html.DisplayFor(modelItem => item.Employee.FirstName)
        </td>
        <td class="col-md-1">
            @Html.DisplayFor(modelItem => item.Employee.LastName)
        </td>
        <td class="col-md-2">
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td class="col-md-2">
            @Html.DisplayFor(modelItem => item.CurrentStatus)
        </td>
        <td class="col-md-2">
            @Html.DisplayFor(modelItem => item.SuggestedStatus)
        </td>
        <td class="col-md-2">
            @Html.DisplayFor(modelItem => item.Assessment)
        </td>
        <td class="col-md-2">
            @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detaylar", "Details", new { id = item.Id }) |
            @Html.ActionLink("Sil", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
