@model IEnumerable<Kaizen.Web.Models.SuggestionViewModel>

@{
    ViewBag.Title = "Index";
}

<section class="panel">
    <header class="panel-heading">

        <h3>Verilen Öneriler</h3>
    </header>
    <div class="panel-body">
        <p>
            @Html.ActionLink("Yeni Öneri Oluştur", "Create")
        </p>
        <table class="table table-bordered table-striped mb-none" id="datatable-tabletools" data-swf-path="~/AdminFiles/assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Employee.FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.Employee.LastName)</th>
                    <th>@Html.DisplayNameFor(model => model.Subject)</th>
                    <th>@Html.DisplayNameFor(model => model.CurrentStatus)</th>
                    <th class="hidden-phone">@Html.DisplayNameFor(model => model.SuggestedStatus)</th>
                    <th class="hidden-phone">@Html.DisplayNameFor(model => model.Assessment)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr class="gradeX">
                        <td>@Html.DisplayFor(modelItem => item.Employee.FirstName)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrentStatus)
                        </td>
                        <td class="center hidden-phone">
                            @Html.DisplayFor(modelItem => item.SuggestedStatus)
                        </td>
                        <td class="center hidden-phone">
                            @Html.DisplayFor(modelItem => item.Assessment)
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Detaylar", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Sil", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>