@model Kaizen.Web.Models.BranchViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>BranchViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", id = "nameVal" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.CountryId, null, "Şube Ülkesini Seçiniz..", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger", id = "countryVal" })
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Yeni ülke ekle", "Create", "Country")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CityId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.CityId, null, "Şehir Seçiniz..", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger", id = "cityVal" })
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Yeni il ekle", "Create", "City")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountyId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.CountyId, null, "İlçe Seçiniz..", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CountyId, "", new { @class = "text-danger", id = "countyVal" })
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Yeni ilçe ekle", "Create", "County")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger", id = "addressVal" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
    $(document).ready(function () {
        $('#CountryId').change(function () {
            $.post("@Url.Action("GetCities", "Branch")", { CountryId: $('#CountryId').val() }, function (data) {
                if (data.success == false) {
                    $('#CityId').empty();
                    $('#CountyId').empty();
                    $('#CityId').append('<option value="" >' + data.message + '</option>');
                    $('#CountyId').append('<option value="" >' + data.message + '</option>');
                    return;
                }
                $('#CityId').empty();
                $('#CountyId').empty();
                $('#CityId').append('<option value="" >Şehir Seçiniz..</option>');
                $('#CountyId').append('<option value="" >İlçe Seçiniz..</option>');
                $.each(data.cities, function (index, value) {
                    $('#CityId').append('<option value="' + value.Id + '">' + value.Name + '</option>');
                });
            });
        });
        $('#CityId').change(function () {
            $.post("@Url.Action("GetCounties", "Branch")", { CityId: $("#CityId").val() }, function (data) {
                if (data.success == false) {
                    $('#CountyId').empty();
                    $('#CountyId').append('<option value="" >İlçe Seçiniz..</option>');
                    return;
                }
                $('#CountyId').empty();
                $('#CountyId').append('<option value="">İlçe Seçiniz..</option>');
                $.each(data.counties, function (index, value) {
                    $('#CountyId').append('<option value="' + value.Id + '">' + value.Name + '</option>');
                });
            });
        });

    });
    </script>
}