@model IEnumerable<Kaizen.Web.Models.BranchViewModel>

@{
    ViewBag.Title = "Şubeler";
}

<p class="col-md-7">
    @Html.ActionLink("Yeni Şube Ekle", "Create")
</p>
<div class="col-md-5">
    <div class="btn-group btn-group-sm" role="group">
        <a href="@Url.Action("Index", "Country")" class="btn btn-primary btn-sm mb-sm"><i class="fa fa-globe"></i> Ülkeler</a>
        <a href="@Url.Action("Index", "City")" class="btn btn-primary btn-sm mb-sm">Şehirler</a>
        <a href="@Url.Action("Index", "County")" class="btn btn-primary btn-sm mb-sm">İlçeler</a>
    </div>
</div>

<section class="panel">
    <header class="panel-heading">

        <h3>Şubeler</h3>
    </header>
    <div class="panel-body">
        <p>
            @Html.ActionLink("Yeni Şube Ekle", "Create")
        </p>
        <table class="table table-bordered table-striped mb-none" id="datatable-tabletools" data-swf-path="~/AdminFiles/assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                    <th>@Html.DisplayNameFor(model => model.CountryId)</th>
                    <th class="hidden-phone">@Html.DisplayNameFor(model => model.CityId)</th>
                    <th class="hidden-phone">@Html.DisplayNameFor(model => model.CountyId)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr class="gradeX">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelıtem => item.Country.Name)
                        </td>
                        <td class="center hidden-phone">
                            @Html.DisplayFor(modelItem => item.City.Name)
                        </td>
                        <td class="center hidden-phone">
                            @Html.DisplayFor(modelItem => item.County.Name)
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Detaylar", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Sil", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>