@model IEnumerable<Kaizen.Web.Models.BranchViewModel>

@{
    ViewBag.Title = "Şubeler";
}

<h2>Şubeler</h2>

<hr />

<p class="col-md-7">
    @Html.ActionLink("Yeni Şube Ekle", "Create")
</p>
<div class="col-md-5">
    <div class="btn-group btn-group-sm" role="group">
        <a href="@Url.Action("Index", "Country")" class="btn btn-primary btn-sm mb-sm"><i class="fa fa-globe"></i> Ülkeler</a>
        <a href="@Url.Action("Index", "City")" class="btn btn-primary btn-sm mb-sm">Şehirler</a>
        <a href="@Url.Action("Index", "County")" class="btn btn-primary btn-sm mb-sm">İlçeler</a>
    </div>
</div>


<table class="table">
    <tr>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.CountryId)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.CityId)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.CountyId)
        </th>
        <th class="col-md-2"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <th class="col-md-2">

            </th>
            <th class="col-md-2">

            </th>
            <th class="col-md-2">

            </th>
            <td class="col-md-2">
                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Ayrıntılar", "Details", new { id = item.Id }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
