@model IEnumerable<Kaizen.Web.Models.SearchViewModel>

@{
    ViewBag.Title = "Arama Sonuçları";
}

<section class="panel">
    <header class="panel-heading">
        <h3 class="text-center">@ViewBag.Title</h3>
    </header>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover mb-none">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UpdatedAt)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Details", (item.Type == "Şube" ? "Branch" : (item.Type == "Departman" ? "Department" : (item.Type == "Öneri" ? "Suggestion" : "Company"))), new { Id = item.Id})">@Html.DisplayFor(modelItem => item.Title)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdatedAt)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>