@model Kaizen.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Kayıt Ol";
    Layout = null;
}

<!doctype html>
<html class="fixed" lang="tr">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/AdminFiles/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/AdminFiles/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/AdminFiles/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/AdminFiles/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/AdminFiles/assets/stylesheets/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/AdminFiles/assets/stylesheets/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/AdminFiles/assets/stylesheets/theme-custom.css">

    <!-- Head Libs -->
    <script src="~/AdminFiles/assets/vendor/modernizr/modernizr.js"></script>

</head>
<body>
    <!-- start: page -->
    <section class="body-sign">
        <div class="center-sign">
            <div class="panel panel-sign">
                <div class="panel-title-sign mt-xl text-right">
                    <a href="/" class="logo pull-left">
                        <img src="~/AdminFiles/assets/images/logo.png" height="54" alt="Porto Admin" />
                    </a>
                    <h2 class="title text-uppercase text-bold m-none" style="letter-spacing: 0.5px;"><i class="fa fa-user mr-xs"></i> Hesap Oluştur <br /><small style="color: white; letter-spacing: 1px; font-size: 10px;">-Kurumsal-</small></h2>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group mb-lg">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.Label("Name", "Şirket Adı", new { @class = "control-label" })
                                    @Html.TextBox("Name", null, new { @class = "form-control input-lg" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-lg">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.Label("Sector", "Sektör", new { @class = "control-label" })
                                    @Html.TextBox("Sector", null, new { @class = "form-control input-lg" })
                                </div>
                                <div class="col-md-6">
                                    @Html.Label("HeadCount", "Şirket Çalışan Sayısı", new { @class = "control-label" })
                                    @Html.TextBox("HeadCount", null, new { @class = "form-control input-lg", type = "number", min = "0" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-lg">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.Label("Description", "Açıklama", new { @class = "control-label" })
                                    @Html.TextArea("Description", null, new { @class = "form-control", style = "resize: none; height: 100px;" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-lg">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.Label("FirstName", "Yetkili Adı", new { @class = "control-label" })
                                    @Html.TextBox("FirstName", null, new { @class = "form-control input-lg" })
                                </div>
                                <div class="col-md-6">
                                    @Html.Label("LastName", "Yetkili Soyadı", new { @class = "control-label" })
                                    @Html.TextBox("LastName", null, new { @class = "form-control input-lg" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-lg">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.Label("UserName", "Kullanıcı Adı", new { @class = "control-label" })
                                    @Html.TextBox("UserName", null, new { @class = "form-control input-lg" })
                                </div>
                                <div class="col-md-6">
                                    @Html.Label("Position", "Pozisyon", new { @class = "control-label" })
                                    @Html.TextBox("Position", null, new { @class = "form-control input-lg" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-lg">
                            @Html.LabelFor(m => m.Email, "E-Posta", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg" })
                        </div>
                        <div class="form-group mb-none">
                            <div class="row">
                                <div>
                                    <div class="col-sm-6 mb-lg">
                                        @Html.LabelFor(m => m.Password, "Parola", new { @class = "control-label" })
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg" })
                                    </div>
                                    <div class="col-sm-6 mb-lg">
                                        @Html.LabelFor(m => m.ConfirmPassword, "Parola(Tekrar)", new { @class = "control-label" })
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="checkbox-custom checkbox-default">
                                        <input id="AgreeTerms" name="agreeterms" type="checkbox" />
                                        <label for="AgreeTerms"><a href="#">Kullanım şartları</a>nı kabul ediyorum</label>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <button type="submit" class="btn btn-primary hidden-xs">Kayıt Ol</button>
                                    <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Sign Up</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <p class="text-center text-muted mt-md mb-md">&copy; Copyright 2018. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
        </div>
    </section>
    <!-- end: page -->
    <!-- Vendor -->
    <script src="~/AdminFiles/assets/vendor/jquery/jquery.js"></script>
    <script src="~/AdminFiles/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/AdminFiles/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/AdminFiles/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/AdminFiles/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/AdminFiles/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="~/AdminFiles/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/AdminFiles/assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/AdminFiles/assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/AdminFiles/assets/javascripts/theme.init.js"></script>

</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
