@model Kaizen.Web.Models.UserRegisterViewModel

@{
    /**/

    ViewBag.Title = "UserRegister";
    Layout = null;
}

<!doctype html>
<html class="fixed" lang="tr">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/AdminFiles/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/AdminFiles/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/AdminFiles/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/AdminFiles/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/AdminFiles/assets/stylesheets/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/AdminFiles/assets/stylesheets/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/AdminFiles/assets/stylesheets/theme-custom.css">

    <!-- Head Libs -->
    <script src="~/AdminFiles/assets/vendor/modernizr/modernizr.js"></script>

</head>
<body>
    <!-- start: page -->
    <section class="body-sign">
        <div class="center-sign">
            <div class="panel panel-sign">
                <a href="/" class="logo pull-left">
                    <img src="~/AdminFiles/assets/images/logo.png" height="54" alt="Porto Admin" />
                </a>
                <div class="panel-title-sign mt-xl text-right">
                    <h2 class="title text-uppercase text-bold m-none" style="letter-spacing: 0.5px;"><i class="fa fa-user mr-xs"></i> Hesap Oluştur <br /><small style="color: white; letter-spacing: 1px; font-size: 10px;">-Bireysel-</small></h2>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("UserRegister", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group mb-lg">
                            <div class="row">
                                <div class="col-md-9">
                                    @Html.LabelFor(model => model.CompanyId, new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.CompanyId, new { @class = "form-control input-lg" })
                                    @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger", id="companyVal" })
                                    <div id="companyMessage" class="text-danger"></div>
                                </div>
                                <div class="col-md-3">
                                    <button id="btnBranch" type="button" class="btn btn-primary btn-sm" style="margin-top: 28px;">Şubeleri Getir</button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.BranchId, new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.BranchId, null, "Şube seçiniz..", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger", id = "branchVal" })
                                    <div id="branchMessage" class="text-danger"></div>
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.DepartmentId, new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.DepartmentId, null, "Departman Seçiniz..", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger", id = "departmentVal" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-lg">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-lg" })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger", id = "firstNameVal" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.LastName, new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-lg" })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger", id = "lastNameVal" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-lg">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.UserName, null, new { @class = "form-control input-lg" })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger", id = "userNameVal" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Position, new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.Position, new { @class = "form-control input-lg" })
                                    @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger", id = "positionVal" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-lg">
                            @Html.LabelFor(m => m.Email, "E-Posta", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", id = "emailVal" })
                        </div>
                        <div class="form-group mb-none">
                            <div class="row">
                                <div>
                                    <div class="col-sm-6 mb-lg">
                                        @Html.LabelFor(m => m.Password, "Parola", new { @class = "control-label" })
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg" })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", id = "passwordVal" })
                                    </div>
                                    <div class="col-sm-6 mb-lg">
                                        @Html.LabelFor(m => m.ConfirmPassword, "Parola(Tekrar)", new { @class = "control-label" })
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg" })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger", id = "confirmPasswordVal" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="checkbox-custom checkbox-default">
                                        <input id="AgreeTerms" name="agreeterms" type="checkbox" />
                                        <label for="AgreeTerms"><a href="#">Kullanım koşulları</a>nı kabul ediyorum</label>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <button type="submit" class="btn btn-primary hidden-xs">Kayıt Ol</button>
                                    <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Kayıt Ol</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <p class="text-center text-muted mt-md mb-md">&copy; Copyright 2018. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
        </div>
    </section>
    <!-- end: page -->
    <!-- Vendor -->
    <script src="~/AdminFiles/assets/vendor/jquery/jquery.js"></script>
    <script src="~/AdminFiles/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/AdminFiles/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/AdminFiles/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/AdminFiles/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/AdminFiles/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="~/AdminFiles/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/AdminFiles/assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/AdminFiles/assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/AdminFiles/assets/javascripts/theme.init.js"></script>

</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        $('#btnBranch').click(function () {
            $.post("@Url.Action("GetBranches", "Account")", { CompanyId: $('#CompanyId').val() }, function (data) {
                if (data.success == false) {
                    $('#branchMessage').empty();
                    $('#companyMessage').empty();
                    $('#companyVal').empty();
                    $('#BranchId').empty();
                    $('#DepartmentId').empty();
                    $('#BranchId').append('<option value="" >Şube seçiniz..</option>');
                    $('#DepartmentId').append('<option value="" >Departman Seçiniz..</option>');
                    $('#companyMessage').append('<p style="margin: 0;">' + data.message + '</p>');
                    return;
                }
                $('#branchMessage').empty();
                $('#companyMessage').empty();
                $('#BranchId').empty();
                $('#DepartmentId').empty();
                $('#companyVal').empty();
                $('#BranchId').append('<option value="" >Şube seçiniz..</option>');
                $('#DepartmentId').append('<option value="" >Departman Seçiniz..</option>');
                $.each(data.branches, function (index, value) {
                    $('#BranchId').append('<option value="' + value.Id + '" >' + value.Name + '</option>');
                });
            });
        });

        $('#BranchId').change(function () {
            $.post("@Url.Action("GetDepartments", "Account")", { BranchId: $('#BranchId').val() }, function (data) {
                if (data.success == false) {
                    $('#BranchId').empty();
                    $('#DepartmentId').empty();
                    $('#BranchId').append('<option value="" >Şube seçiniz..</option>');
                    $('#DepartmentId').append('<option value="" >Departman Seçiniz..</option>');
                    $('#branchMessage').append('<p style="margin: 0;">' + data.message + '</p>');
                    return;
                }
                $('#DepartmentId').empty();
                $('#DepartmentId').append('<option value"" >Departman Seçiniz..</option>');
                $.each(data.departments, function (index, value) {
                    $('#DepartmentId').append('<option value="' + value.Id + '" >' + value.Name + '</option>');
                });
            });
        });

        $('#CompanyId').keyup(function () {
            $('#companyVal').empty();
            $('#companyMessage').empty();
        });
        $('#BranchId').keyup(function () {
            $('#branchVal').empty();
            $('#branchMessage').empty();
        });
        $('#DepartmentId').keyup(function () {
            $('#departmentVal').empty();
        });
        $('#FirstName').keyup(function () {
            $('#firstNameVal').empty();
        });
        $('#LastName').keyup(function () {
            $('#lastNameVal').empty();
        });
        $('#UserName').keyup(function () {
            $('#userNameVal').empty();
        });
        $('#Position').keyup(function () {
            $('#positionVal').empty();
        });
        $('#Email').keyup(function () {
            $('#emailVal').empty();
        });
        $('#Password').keyup(function () {
            $('#passwordVal').empty();
        });
        $('#ConfirmPassword').keyup(function () {
            $('#confirmPasswordVal').empty();
        });

    });
</script>