@model IEnumerable<Kaizen.Web.Models.CompanyViewModel>

@{
    ViewBag.Title = "Index";
}

<section class="panel">
    <header class="panel-heading">

        <h3>Kayıt Sistemini Kullanan Şirketler</h3>
    </header>
    <div class="panel-body">
        <p>
            @Html.ActionLink("Yeni Şirket Oluştur", "Create")
        </p>
        <table class="table table-bordered table-striped mb-none" id="datatable-tabletools" data-swf-path="~/AdminFiles/assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
            <thead>
                <tr>
                    <th>Şirket Yetkilisi</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Sector)</th>
                    <th class="hidden-phone">@Html.DisplayNameFor(model => model.Description)</th>
                    <th class="hidden-phone">@Html.DisplayNameFor(model => model.HeadCount)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr class="gradeX">
                        <td>@Html.DisplayFor(modelItem => item.Employees.ToList().OrderBy(d => d.CreatedAt).FirstOrDefault().FullName)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sector)
                        </td>
                        <td class="center hidden-phone">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="center hidden-phone">
                            @Html.DisplayFor(modelItem => item.HeadCount)
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Detaylar", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Sil", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>